/*game Box Dimensions: width: 640px   height: 480px  */

/*#backgroundImg {
    mix-blend-mode: multiply;
    height: 50%;
}*/

/*main {*/
/*    !*background-image: !*mix-blend-mode(),*! url("images/Background-GeometricMonotone.webp");*!*/
/*    !*z-index: 0;*!*/
/*}*/

#playBox {
    overflow: hidden; /* hides the game content outside play box*/

    /*For the endGame Screen*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: rgba(0, 0, 0, 0.45);*/
}

#playerShip {
    height: 60px;
    width: 110px;
    position: absolute;
    top: 210px;

    left: 50px;
    /*z-index: 2;*/
    /*transform: rotate(10deg);*/
}

.block {
    /*left: 400px;*/
    height: 60px;
    position: absolute;
    /*z-index: 1;*/
}

/*
#block1 {
    top: 0px;
    left: 400px;
}

#block2 {
    top: 60px;
    left: 400px;
}

#block3 {
    top: 120px;
    left: 400px;
}

*/

/*#shadowBox {*/
/*    background-color: rgba(0, 0, 0, 0.45);*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

#gameOverText {
    font-size: 50px;
}

#gameOverButton {
    font-size: 30px;
}

.sDisplay {
    padding-top: 8px;
    margin: 0px;
}