/*game Box Dimensions: width: 640px   height: 480px  */

/*#backgroundImg {
    mix-blend-mode: multiply;
    height: 50%;
}*/

/*main {*/
/*    !*background-image: !*mix-blend-mode(),*! url("images/Background-GeometricMonotone.webp");*!*/
/*    !*z-index: 0;*!*/
/*}*/

#playBox {
    /*z-index: 3;*/
    overflow: hidden; /* hides the content*/
    /*overflow: clip; !* removes the content*!*/
}

#playerShip {
    height: 60px;
    width: 110px;
    position: absolute;
    top: -30px;
    /*top: 210px;*/
    /*left: -55px;*/

    left: 50px;
    /*z-index: 2;*/
    /*transform: rotate(10deg);*/
}

.block {
    /*left: 400px;*/
    height: 60px;
    position: absolute;
    /*z-index: 1;*/
}

/*
#block1 {
    top: 0px;
    left: 400px;
}

#block2 {
    top: 60px;
    left: 400px;
}

#block3 {
    top: 120px;
    left: 400px;
}

*/
