/*game Box Dimensions: width: 640px   height: 480px  */

/*#backgroundImg {
    mix-blend-mode: multiply;
    height: 50%;
}*/

/*main {
    background-image: mix-blend-mode(), url("images/Background-GeometricMonotone.webp");
}*/

#imgShip {
    height: 60px;
    position: absolute;
    top: 210px;
    left: 50px;
    transform: rotate(10deg);
}

.block {
    height: 60px;
    position: absolute;
}

#block1 {
    top: 0px;
    left: 400px;
}

#block2 {
    top: 60px;
    left: 400px;
}

#block3 {
    top: 120px;
    left: 400px;
}

