* {
    font-family: Monaco, "Lucida Console", monospace;
    color: greenyellow;
    font-size: 20px;
    -webkit-text-stroke: 1px black;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

/*Nav Stuff*/

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
    height: 55px;
    border-bottom: solid 3px black;
    /*background: hsl(0deg 100% 23%);*/
}

nav p, nav a {
    padding: 0 20px;
    color: gold;
    font-size: 30px;
    text-decoration: none;
}

.navSelect {
    color: cornflowerblue;
}
.accountDisplay {
    margin-left: auto;
}

/*Main + footer Css*/
main {
    display: flex;
    height: 100%;
    /*width: 100%;*/
    flex-direction: column;
    /*background-image: linear-gradient(hsl(0deg 100% 18%), hsl(0deg 100% 40%));*/
    align-items: center;
}

li {
    padding: 3px;
}

footer {
    display: flex;
    height: 36px;
    font-size: 20px;
    /*background: hsl(0deg 100% 23%);*/
    align-items: center;
    justify-content: center;
    border-top: solid 3px black;
}

a {
    color: gold;
    text-decoration: none;
}

a:hover {
    color: royalblue;
}

/*Leaderboard CSS*/
#tableDiv {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

table {
    background: lightcoral;
    border: solid black 2px;
    border-collapse: collapse;
    margin: 5vh 10vw;
    width: 80vw;
}

tr {

}

th, td {
    border: solid black 2px;
    font-size: 20px;
    padding: 6px;
}

th {
    font-size: 25px;
}

.websocketText {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: right;
    margin: 10px 20px;
}

/*Play Box CSS*/
#playBoxBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

#playBox {
    position: relative;
    border: solid 2px gray;
    width: 640px;
    height: 480px;
}

/*Login CSS*/
h1 {
    font-size: 40px;
}

button {
    padding: 10px 40px;
    border: black solid 1px;
    border-radius: 8px;
    background-color: lightcoral;
}

button:hover {
    background-color: crimson;
}

input {
    color: black;
    -webkit-text-stroke: unset;
}

#signupHtmlLink {
    font-size: 30px;
}