* {
    font-family: Monaco, "Lucida Console", monospace;
    color: greenyellow;
    -webkit-text-stroke: 1px black;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
    height: 10vh;
    border-bottom: solid 3px black;
    background: darkslategray;
}

p, a {
    padding: 0 50px;
    color: yellow;
    font-size: 30px;
    text-decoration: none;
}

.navSelect {
    color: cornflowerblue;
}
